* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Quando";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("https://fonts.gstatic.com/s/quando/v18/xMQVuFNaVa6YuW0pCw.ttf") format("truetype");
}

:root {
	--bg-white: #ffffff;
	--border-blue: #c5dce5;
	--header-text: #fff;
	--main-blue: #aabbcc;
	--sb-size: 12px;
	--sb-track-color: #f1f1f1;
	--sb-thumb-color: #aabbcc;
}

body {
	background: #dce7f9 url("https://files.catbox.moe/1tmi5p.png") repeat;
	font-family: 'Quando', Courier, monospace;
	color: #ffffff;
	margin: 20px;
	cursor: url('https://file.garden/ZtOzYrPCZ1cAh7gi/2026_04_23_0h9_Kleki.png'), auto;
}

a:hover, button:hover {
  cursor: url('https://file.garden/ZtOzYrPCZ1cAh7gi/2026_04_23_0hq_Kleki.png'), auto;
}

#container {
	max-width: 400px;
	margin: 0 auto;
	color: #555555;
	background: #fff;
	border: 20px solid transparent;
	border-image-source: url("https://file.garden/ZtOzYrPCZ1cAh7gi/lacebox");
	border-image-slice: 25;
	border-image-repeat: round;
	border-image-outset: 10px;
	padding: 15px;
